.podcast_list_item {
  display: flex;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  margin: 60px;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  max-width: 200px;
}

.podcast_list_item>a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.podcast_list_item>a>figure {
  max-width: 200px;
}

.podcast_list-title {
  padding-top: 60px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.podcast_img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}